header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ActionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}
.actionBtn {
  padding: 10px;
}
.Atk {
  color: white;
  font-size: 1.5rem;
  border: 3px solid #d92124;
  border-radius: 8px;
  background-color: #eb522c;
}
.AtkSpe {
  color: white;
  font-size: 1.5rem;
  border: 3px solid #d95c09;
  border-radius: 8px;
  background-color: #eb9b2c;
}

.Heal {
  color: white;
  font-size: 1.5rem;
  border: 3px solid #348223;
  border-radius: 8px;
  background-color: #56a65e;
}
.GiveUp {
  color: white;
  font-size: 1.5rem;
  border: 3px solid #454b4f;
  border-radius: 8px;
  background-color: #80878c;
}
img {
  transform: scaleX(-1);
  width: 100%;
  height: 20rem;
  display: flex;
}
